<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <jsonGeneratorDecorator class="net.logstash.logback.mask.MaskingJsonGeneratorDecorator">
                <valueMask>
                    <value>\b(\d{6})\d{5}\b</value>
                    <mask>$1*****</mask>
                </valueMask>
            </jsonGeneratorDecorator>
        </encoder>
    </appender>

    <springProfile name="prod | dev">
        <logger name="no.nav" level="INFO"/>
    </springProfile>
    <springProfile name="test | vtp-pensjon">
        <logger name="no.nav" level="DEBUG"/>
    </springProfile>

    <root level="INFO">
        <appender-ref ref="JSON_CONSOLE"/>
    </root>

</configuration>
